*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
img{
    vertical-align: middle;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.pad-y-50{
   padding: 50px 0;
}
.mb-50{
    margin-bottom: 50px;
}

/* Font Family */
.open-reg{
    font-family: 'open-reg';
}
.open-semi{
    font-family: 'open-semi';
}
.open-bold{
    font-family: 'open-bold';
}
.open-italic{
    font-family: 'open-italic';
}
.abril{
    font-family: 'abril';
}

/* Typography */
.text-cap{
    text-transform: capitalize;
}
.text-low{
    text-transform: lowercase;
}
.text-up{
    text-transform: uppercase;
}
.text-center{
    text-align: center;
}

/* Font Size */
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-20{
    font-size: 20px;
}
.fs-18{
    font-size: 18px;
}
.fs-24{
    font-size: 24px;
}
.fs-30{
    font-size: 30px;
}
.fs-32{
    font-size: 32px;
}
.fs-85{
    font-size: 85px;
}
.fs-60{
    font-size: 60px;
}
.fs-102{
    font-size: 102px;
}

/* Colors */
.brand{
    color: #d6c6b2;
}
.colr-6{
    color: #666666;
}
.colr-4{
    color: #444444;
}
.colr-2{
    color: #222222;
}
.white{
    color: #ffffff;
}
.bg-d{
    background: #dddddd;
}
.bg-f1{
    background: #f1f1f1;
}
body{
    background: #f7f9f6;
}
/* ======================
    Common CSS Ends
====================== */

/* ======================
    Font Import Starts
====================== */
@font-face {
    font-family: 'open-reg';
    src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'open-semi';
    src: url(../fonts/OpenSans/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: 'open-bold';
    src: url(../fonts/OpenSans/OpenSans-Bold.ttf);
}
@font-face {
    font-family: 'open-italic';
    src: url(../fonts/OpenSans/OpenSans-Italic.ttf);
}
@font-face {
    font-family: 'abril';
    src: url(../fonts/abril/AbrilFatface-Regular.ttf);
}
/* ======================
    Font Import Ends
====================== */

/* ======================
    Header Starts
====================== */
#header{
    position: absolute;
    width: 100%;
    z-index: 9;
}

#header .container{
    display: flex;
    justify-content: space-between;
}

#header .logo{
    padding-top: 30px;
}

#header ul{
    display: flex;
}

#header li{
    padding-top: 60px;
    padding-bottom: 8px;
    margin: 0 20px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#header li:last-child{
    margin-right: 0;
}

#header li:hover{
    background: #d6c6b2;
}

#header a{
    text-transform: capitalize;
    padding: 0 6px;
}
/* ======================
    Header Ends
====================== */


/* ======================
    Banner Starts
====================== */
#banner{
    height: 620px;
    background: #e5e8ea;
    position: relative;
}

#particles-js{
    position: absolute;
    inset: 0;
    z-index: 5;
}

#banner .container{
    height: 100%;
    display: flex;
}

#banner .banner-person{
    width: 570px;
    height: 100%;
    padding-left: 100px;
}

#banner img{
    height: 100%;
}

#banner .banner-txt{
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 160px;
    padding-top: 150px;
    margin-top: 5px;
}
#banner .name{
    display: flex;
    line-height: 100px;
    margin: 10px 0 30px;
}

#banner .typed-cursor{
    color: aqua;
    height: 500px;
}

#banner .together{
    width: 437px;
}

#banner .pos-under{
    text-align: right;
}

#banner .banner-button{
    z-index: 6;
}

#banner .banner-btn{
    line-height: 40px;
    border: 1px solid #d6c6b2;
    background: transparent;
}

#banner .btn a{
    padding: 10px 40px;
}

#banner a{
    padding: 10px 20px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#banner a:hover{
    background: #d6c6b2;
    color: #222222;
}

#banner .btn{
    margin-right: 18px;
}
/* ======================
    Banner Ends
====================== */



/* ======================
    About Starts
====================== */
#about{
    height: 525px;
    margin: 95px 0;
}

#about .abril{
    margin-top: 17px;
}

#about .about-person{
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#about .person-img{
    height: 100%;
    width: 470px;
    position: relative;
}

#about .main-img img{
    height: 525px;
    width: 100%;
}

#about .person-txt{
    height: 100%;
    width: 670px;
}

#about p{
    line-height: 24px;
}

#about .para-1{
    margin: 55px 0 30px 0;
}

#about .mrgn{
    margin: 55px 0 15px 0;
}

#about ul{
    display: flex;
}
#about li{
    line-height: 40px;
    border: 1px solid rgba(68, 68, 68, 0.5);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 15px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#about li:last-child{
    line-height: 45px;
}

#about li:hover{
    background: #d6c6b2;
    border: none;
}

#about a{
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 25px;
}

#about img{
    width: 95%;
}
/* ======================
    About Ends
====================== */


/* ======================
    Service Starts
====================== */
#service{
    height: 560px;
    background: radial-gradient(#f5f5f5, #f9f9f9);
}

#service .container{
    height: 100%;
}

#service .section-head{
    padding: 50px 0 60px 0;
}

#service .service-item{
    display: flex;
    justify-content: space-between;
}

#service .service-details{
    width: 360px;
}

#service h5{
    padding: 25px 0;
}

#service p{
    line-height: 24px;
    padding-bottom: 55px;
}

#service .service-alter{
    display: flex;
    justify-content: center;
}

#service .circle{
    margin: 0 10px;
    border: 1px solid #444444;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#service .circle:hover{
    background: #d6c6b2;
    border: 1px solid #d6c6b2;
}

#service .fa-long-arrow-alt-left{
    position: absolute;
    right: 15px;
}

#service .fa-long-arrow-alt-right{
    position: absolute;
    left: 15px;
}
/* ======================
    Service Ends
====================== */


/* ======================
    Portfolio Starts
====================== */
#portfolio{
    height: 930px;
    margin: 100px 0 213px 0;
}

#portfolio .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#portfolio .port-items{
    height: 100%;
    width: 890px;
}

#portfolio .port-images{
    height: 100%;
    width: 770px;
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

#portfolio .img-item{
    height: 450px;
    width: 370px;
    position: relative;
    overflow: hidden;
}

#portfolio .overlay{
    width: 100%;
    height: 100%;
    background: rgba(214, 198, 178, 0.85);
    position: absolute;
    inset: 0;
    top: -100%;
    opacity: 0;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#portfolio .img-item:hover .overlay{
    opacity: 1;
    top: 0;
}

#portfolio .overlay-property{
    display: flex;
    align-items: center;
    margin-top: 50%;
    flex-direction: column;
}

#portfolio .icon{
    width: 50px;
    height: 50px;
    background: #444444;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#portfolio i{
    line-height: 50px;
}

#portfolio h4{
    margin: 115px 0 5px 0;
}

#portfolio .port-nav{
    height: 100%;
    width: 250px;
}

#portfolio h3{
    margin: -9px 0 60px 0;
}

#portfolio .gl-list{
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#portfolio li{
    margin-bottom: 36px;
    cursor: pointer;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#portfolio li:hover{
    padding-left: 36px;
}

#portfolio .active{
    color: #d6c6b2;
    padding-left: 36px;
}

#portfolio .btn{
    clear: both;
    width: 770px;
    float: right;
}

#portfolio .btn a{
    background: #d6c6b2;
    display: inline-block;
    padding: 16px 33px 15px 20px;
    margin-top: 60px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#portfolio .btn a:hover{
    background: #222222;
    color: #d6c6b2;
}
/* ======================
    Portfolio Ends
====================== */


/* ======================
    Testimonial Starts
====================== */
#testimonial{
    height: 511px;
    background: url(../images/testimonial-bg.jpg) no-repeat center / cover;
    position: relative;
    z-index: 1;
}

#testimonial::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    inset: 0;
    z-index: -1;
}

#testimonial .container{
    height: 100%;
}
#testimonial .testi-main{
    width: 100%;
    height: 225px;
    display: flex;
    justify-content: space-between;
}

#testimonial .testi-item{
    width: 565px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#testimonial .item-img{
    height: 100%;
    width: 170px;
}

#testimonial img{
    height: 237px;
    width: 100%;
}

#testimonial .item-txt{
    height: 100%;
    width: 365px;
    line-height: 24px;
}

#testimonial h5{
    margin-top: 10px;
}

#testimonial .clarke{
    font-size: 14.5px;
}

#testimonial i{
    margin: 10px 0 25px 0;
}

#testimonial i:last-of-type{
    margin: 0;
}

#testimonial .testi-alter{
    display: flex;
    justify-content: center;
}

#testimonial .circle{
    margin: 0 10px;
    border: 1px solid #ffffff;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#testimonial .circle:hover{
    background: #d6c6b2;
    border: 1px solid #d6c6b2;
}

#testimonial .fa-long-arrow-alt-left{
    position: absolute;
    right: 15px;
}

#testimonial .fa-long-arrow-alt-right{
    position: absolute;
    left: 15px;
}
/* ======================
    Testimonial Ends
====================== */


/* ======================
    Pricing Starts
====================== */
#pricing{
    height: 650px;
    margin: 100px 0;
}

#pricing .container{
    height: 100%;
}

#pricing .packages{
    height: 549px;
    display: flex;
    justify-content: space-between;
}

#pricing .package-item{
    height: 100%;
    width: 370px;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#pricing .package-item:hover{
    background: #d6c6b2;
}

#pricing .plan-name{
    padding: 15px 0;
    width: 100%;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#pricing .package-item:hover .plan-name{
    background: #d6c6b2;
    box-shadow: 0 3px 20px -16px;
}

#pricing .plan-icon{
    height: 82px;
    width: 74px;
    margin-top: 20px;
}

#pricing .fs-24{
    border-bottom: 1px solid rgba(102, 102, 102, 0.1);
    width: 65%;
    margin-bottom: 30px;
}

#pricing img{
    height: 100%;
    width: 100%;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#pricing .package-item:hover img{
    box-shadow: 0 0 15px -5px;
}

#pricing .facilities p{
    line-height: 40px;
}

#pricing .btn{
    line-height: 50px;
    padding: 0 20px;
    margin-top: 8px;
    border: 1px solid #444444;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#pricing .package-item:hover .btn{
    border: 1px solid #d6c6b2;
    box-shadow: 0 0 20px -10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#pricing .btn p{
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#pricing .btn:hover p{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
/* ======================
    Pricing Ends
====================== */


/* ======================
    Blog Part Starts
====================== */
#blog{
    height: 970px;
    margin-bottom: 100px;
}

#blog .container{
    height: 100%;
}

#blog .blog-posts{
    height: 656px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Mutiple Post */
#blog .multiple{
    height: 100%;
    width: 670px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#blog .inner-post{
    width: 100%;
    height: 313px;
    display: flex;
}

#blog .post-image{
    height: 100%;
    width: 270px;
    position: relative;
}

#blog .overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    background: #d6c6b2;
    opacity: 0;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#blog .overlay:hover{
    opacity: 0.7;
}

#blog .post-date{
    margin-top: 20px;
    margin-right: 10px;
    float: right;
}

#blog .post-date{
    width: 33px;
    line-height: 20px;  
}

#blog .post-text{
    height: 100%;
    width: 400px;
    padding: 30px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#blog .post-text:hover{
    background: #d6c6b2;
}

#blog .post-history{
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: space-between;
}

#blog .post-admin{
    height: 100%;
    display: flex;
    position: relative;
}


#blog .post-rection{
    height: 100%;
}

#blog ul{
    display: flex;
}

#blog li{
    padding-left: 18px;
}

#blog .post-title{
    line-height: 30px;
    padding: 25px 0;
}

#blog .main-post{
    line-height: 24px;
}

#blog .expand-post{
    padding: 23px 0;
    display: flex;
    justify-content: space-between;
}

#blog .expand-post i{
    padding: 0 10px;
}

/* Single Post */
#blog .single{
    height: 100%;
    width: 470px;
}

#blog .single-post-image{
    width: 100%;
    height: 340px;
    position: relative;
}

#blog .single-post-text{
    width: 100%;
    height: 316px;
}

#blog .btn a{
    background: #d6c6b2;
    display: inline-block;
    padding: 16px 33px 15px 20px;
    margin: 60px 0;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#blog .btn a:hover{
    background: #222222;
    color: #d6c6b2;
}
/* ======================
    Blog Part Ends
====================== */


/* ======================
    Footer Starts
====================== */
#footer{
    height: 385px;
    background: #0b99b3;
}

#footer .footer-top{
    height: 300px;
    background: #1ed60d;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

#footer .address-part{
    width: 330px;
    background: rgb(18, 231, 238);
}

#footer h4{
    margin-bottom: 30px;
}

#footer address{
    display: flex;
    background: rgb(219, 173, 173);
}

#footer i{
    line-height: 24px;
    padding-right: 15px;
}

#footer .mail{
    display: flex;
    background: rgb(123, 211, 64);
    margin: 15px 0;
}

#footer .web{
    display: flex;
    background: rgb(177, 216, 152);
}

#footer .mt-50{
    margin-top: 40px;
    margin-bottom: 0;
}

#footer ul{
    display: flex;
}

#footer i{
    text-align: center;
}

#footer ul a{
    color: #444444;
    font-size: 20px;
    padding-right: 30px;
    line-height: 50px;
    background: #000;
    display: inline-block;
    height: 50px;
    width: 50px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#footer ul a:hover{
    background: #d6c6b2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#footer .form-part{
    width: 770px;
    background: rgb(211, 206, 131);
}
#footer{}
#footer{}
#footer{}
#footer{}
#footer{}


#footer .footer-bottom{
    line-height: 55px;
}
/* ======================
    Footer Ends
====================== */