*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
img{
    vertical-align: middle;
}
.container{
    width: 1170px;
    margin: 0 auto;
}

/* Font Family */
.open-reg{
    font-family: 'open-reg';
}
.open-semi{
    font-family: 'open-semi';
}
.open-bold{
    font-family: 'open-bold';
}
.open-italic{
    font-family: 'open-italic';
}
.abril{
    font-family: 'abril';
}

/* Typography */
.text-cap{
    text-transform: capitalize;
}
.text-low{
    text-transform: lowercase;
}
.text-up{
    text-transform: uppercase;
}
.text-center{
    text-align: center;
}

/* Font Size */
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-20{
    font-size: 20px;
}
.fs-18{
    font-size: 18px;
}
.fs-24{
    font-size: 24px;
}
.fs-30{
    font-size: 30px;
}
.fs-32{
    font-size: 32px;
}
.fs-85{
    font-size: 85px;
}
.fs-60{
    font-size: 60px;
}
.fs-102{
    font-size: 102px;
}

/* Colors */
.colr-4{
    color: #444444;
}
.colr-2{
    color: #222222;
}
/* ======================
    Common CSS Ends
====================== */

/* ======================
    Font Import Starts
====================== */
@font-face {
    font-family: 'open-reg';
    src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'open-semi';
    src: url(../fonts/OpenSans/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: 'open-bold';
    src: url(../fonts/OpenSans/OpenSans-Bold.ttf);
}
@font-face {
    font-family: 'open-italic';
    src: url(../fonts/OpenSans/OpenSans-Italic.ttf);
}
@font-face {
    font-family: 'abril';
    src: url(../fonts/abril/AbrilFatface-Regular.ttf);
}
/* ======================
    Font Import Ends
====================== */

/* ======================
    Header Starts
====================== */
#header{
    position: absolute;
    width: 100%;
    z-index: 9;
}

#header .container{
    display: flex;
    justify-content: space-between;
}

#header .logo{
    padding-top: 30px;
}

#header ul{
    display: flex;
}

#header li{
    padding-top: 60px;
    padding-bottom: 8px;
    margin: 0 20px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#header li:last-child{
    margin-right: 0;
}

#header li:hover{
    background: #d6c6b2;
}

#header a{
    text-transform: capitalize;
    padding: 0 6px;
}
/* ======================
    Header Ends
====================== */


/* ======================
    Banner Starts
====================== */
#banner{
    height: 620px;
    background: #e5e8ea;
    position: relative;
}

#particles-js{
    position: absolute;
    inset: 0;
    z-index: 5;
}

#banner .container{
    height: 100%;
    display: flex;
}

#banner .banner-person{
    width: 570px;
    height: 100%;
    padding-left: 100px;
    z-index: 1;
}

#banner img{
    height: 100%;
}

#banner .banner-txt{
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 160px;
    padding-top: 150px;
    /* z-index: 6; */
}
#banner .name{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 100px;
    margin: 10px 0 30px;
}

#banner .typed-cursor{
    color: aqua;
}

#banner .pos-over{
    z-index: 2;
}

#banner .banner-button{
    z-index: 6;
}

#banner .banner-btn{
    line-height: 40px;
    border: 1px solid #d6c6b2;
    background: transparent;
    color: #d6c6b2;
}

#banner .btn a{
    padding: 10px 40px;
}

#banner a{
    padding: 10px 20px;
    color: #d6c6b2;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#banner a:hover{
    background: #d6c6b2;
    color: #222222;
}

#banner .btn{
    margin-right: 18px;
}
/* ======================
    Banner Ends
====================== */



/* ======================
    About Starts
====================== */
#about{
    height: 525px;
    margin: 95px 0;
}

#about .abril{
    margin-top: 17px;
}

#about .about-person{
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#about .person-img{
    height: 100%;
    width: 470px;
    position: relative;
}

#about .main-img img{
    height: 525px;
    width: 100%;
}

#about .person-txt{
    height: 100%;
    width: 670px;
}

#about p{
    line-height: 24px;
}

#about .para-1{
    margin: 55px 0 30px 0;
}

#about .mrgn{
    margin: 55px 0 15px 0;
}

#about ul{
    display: flex;
}
#about li{
    line-height: 40px;
    border: 1px solid rgba(68, 68, 68, 0.5);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 15px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#about li:last-child{
    line-height: 45px;
}

#about li:hover{
    background: #d6c6b2;
    border: none;
}

#about a{
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 25px;
}

#about img{
    width: 95%;
}
/* ======================
    About Ends
====================== */


/* ======================
    Service Starts
====================== */
#service{
    height: 560px;
    background: radial-gradient(#f5f5f5, #f9f9f9);
}

#service .container{
    height: 100%;
}

#service h3{
    padding: 50px 0 60px 0;
}

#service .service-item{
    display: flex;
    justify-content: space-between;
}

#service .service-details{
    width: 360px;
}

#service h5{
    padding: 25px 0;
}

#service p{
    line-height: 24px;
    padding-bottom: 55px;
}

#service .service-alter{
    display: flex;
    justify-content: center;
}

#service .circle{
    margin: 0 10px;
    border: 1px solid #444444;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#service .circle:hover{
    background: #d6c6b2;
    border: 1px solid #d6c6b2;
}

#service .fa-long-arrow-alt-left{
    position: absolute;
    right: 15px;
}

#service .fa-long-arrow-alt-right{
    position: absolute;
    left: 15px;
}
/* ======================
    Service Ends
====================== */


/* ======================
    Portfolio Starts
====================== */

/* ======================
    Portfolio Ends
====================== */


/* ======================
     Starts
====================== */
/* ======================
     Ends
====================== */